{% extends 'core/base.html' %}
{% load static %}
{% block sub_content %}
    <link rel="stylesheet" href="{% static 'css/datatable.css' %}">
    <style>

    </style>
    <div class="container">
        <h6 class="my-3"> Manage your members and their activities</h6>
        <ul class="w-100 nav nav-pills mb-3 mt-2" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-question-tab" data-bs-toggle="pill" data-bs-target="#pills-question"
                        type="button" role="tab" aria-controls="pills-question" aria-selected="true">Members
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-category-tab" data-bs-toggle="pill" data-bs-target="#pills-category"
                        type="button" role="tab" aria-controls="pills-category" aria-selected="false">Action
                </button>
            </li>
        </ul>
        <div class="tab-content border-top" style="min-height: 170px; width: 100%;" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-question" role="tabpanel"
                 aria-labelledby="pills-question-tab">
                <div class="container">
                    <div class="d-flex my-3 align-items-center justify-content-between">
                        <div class="row w-100">
                            <div class="col-md-6">
                                <label for="profile_status" class="small"> Status </label>
                                <select class="form-control bg-white text-dark p-2" id="profile_status"
                                      >
                                    <option selected value="Pending">Pending</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Rejected">Rejected</option>
                                </select>
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:void(0);" class="btn btn-outline-primary mt-4 pull-right" data-bs-toggle="modal" data-bs-target="#profileAddUpdateModal" onclick="resetProfileAddUpdateModal();">Add Member</a>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <table id="profile_table" class="table table-striped mt-3 border-top w-100">
                                    <thead>
                                    <tr>
                                        <th data-data="first_name">Profile Name</th>
                                        <th data-data="email">Contact Detail</th>
                                        <th data-data="is_verified">Verified?</th>
                                        <th data-data="is_super_admin">SuperAdmin?</th>
                                        <th data-data="added_by_first_name">Added By</th>
                                        <th class="text-xs-center" data-data="is_super_admin" data-searchable="false"
                                            data-orderable="false">
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="pills-category" role="tabpanel"
                 aria-labelledby="pills-category-tab">
                <div class="container">
                    <div class="text-center">
                        <div class="row p-2">
                            <div class="col-md-6 p-1">
                                <div class="card py-4 btn btn-outline-primary ">
                                    Update Rank
                                </div>
                            </div>
                            <div class="col-md-6 p-1">
                                <div role="button" class="card py-4 btn btn-outline-primary">
                                    Raise Notice
                                </div>
                            </div>
                            <div class="col-md-6 p-1">
                                <div role="button" class="card py-4 btn btn-outline-primary">
                                    Raise Announcement
                                </div>
                            </div>
                            <div class="col-md-6 p-1">
                                <div role="button" class="card py-4 btn btn-outline-primary">
                                    More Actions
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="profileAddUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Member</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="profileAddUpdateForm" enctype="">
                        <input type="hidden" id="profile_id" name="profile_id">
                        <div class="row username_detail">
                            <div class="col-md-6 mb-3">
                                <label for="username" class="form-label">User Name</label>
                                <input type="text" class="form-control" name="username" id="username"
                                 onkeyup="$('#password').val($(this).val()+'@123');">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="text" class="form-control" name="password" id="password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="first_name" class="form-label">First Name</label>
                                <input type="text" class="form-control" name="first_name" id="first_name">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="last_name" class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="last_name" id="last_name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="first_name" class="form-label">Contact No.</label>
                                <input type="text" class="form-control" name="contact_number" id="contact_number">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="last_name" class="form-label">Email Id</label>
                                <input type="email" class="form-control" name="email" id="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <select class="form-control" id="gender" name="gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-check-label mb-1" for="is_verified">Verify</label>
                                <div class="form-check form-switch fs-3">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           id="is_verified" name="is_verified">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-check-label mb-1" for="is_super_admin">Super Admin</label>
                                <div class="form-check form-switch fs-3">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           id="is_super_admin" name="is_super_admin">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-cancel" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="profileAddUpdateBtn">Update</button>
                </div>
            </div>
        </div>
    </div>

{% endblock sub_content %}

{% block script %}
    <script src="{% static 'js/datatable.js' %}"></script>
    <script>

    let profile_table = $('#profile_table').DataTable({
                serverSide: true,
                responsive: true,
                scrollX: true,
                buttons: ['csv', 'pdf'],
                ajax: {
                    url: base_url + "core/get_profile/?format=datatables&keep=id,last_name,created_at,contact_number,image,user_name",
                    type: 'GET',
                    data: function (d) {
                        d.status = $('#category_status').val()
                    },
                    headers: headers
                },
                columnDefs: [
                    {
                        'targets': 0,
                        'className':'small',
                        'render': function (data, type, row) {
                            return ((row.image ? `<span><img src="${row.image}" width="24" height="24" class="rounded-circle me-1 zoom-on-hover"></span> ` : '')
                                +row.first_name + ' ' + row.last_name+'<br>('+ row.user_name +')') ;
                        }
                    },
                    {
                        'targets': 1,
                        'className':'small',
                        'render': function (data, type, row) {
                            return data+(row.contact_number ? '<br>'+row.contact_number : '')+'<br>DOJ: '+moment(row.created_at).format('DD MMM YYYY');
                        }
                    },
                    {
                        'targets': [2,3],
                        'className':'text-center',
                        'render': function (data, type, row) {
                            return data ? '<span class="text-success">Yes</span>' : '<span class="text-danger">No</span>'
                        }
                    },
                    {
                        'targets': 5,
                        'render': function (data, type, row) {
                            return `<span role="button" class="badge bg-primary edit" data-bs-toggle="modal" data-bs-target="#profileAddUpdateModal"> Update  </span>`;
                        }
                    },
                    {
                        'targets': 4,
                        'render': function (data, type, row) {
                            return !row.added_by_first_name ? 'Self' : row.added_by_first_name + ' ' + row.added_by_last_name;
                        }
                    }
                ]
            })



    $('#profile_table tbody').on('click', 'tr', function (e){
        let current_selector = $(e.target);
        let table_data = profile_table.row(this).data()
        if (current_selector.has('edit')){
            $('.username_detail').hide();
            $('#staticBackdropLabel').text('Update Member');
            $('#profile_id').val(table_data.id);
            console.log("Table Data ", table_data)
            Object.entries(table_data).map(
                (obj) => {
                    let key = obj[0];
                    let value = obj[1];
                    console.log(key,  value)
                    $('#' + key).val(value);
                }
            )
            $('#is_verified').prop('checked', table_data.is_verified);
            $('#is_super_admin').prop('checked', table_data.is_super_admin);
        }
    })
    const resetProfileAddUpdateModal = () => {
        $('#staticBackdropLabel').text('Add Member');
        $('.username_detail').show();
        $('#profile_id').val('');
        $('#profileAddUpdateForm')[0].reset();
        $('#is_verified').prop('checked', isVerfied);
        $('#is_super_admin').prop('checked', isSuperAdmin);
    }
    $('#profileAddUpdateBtn').click(function (e){
        e.preventDefault();
            let profile_id = $('#profile_id').val();
            let formdata = new FormData($('#profileAddUpdateForm').get(0));
            let profile_url = base_url+'core/';
            let method = 'POST';
            formdata.set('is_verified', $('#is_verified').is(':checked'))
            formdata.set('is_super_admin', $('#is_super_admin').is(':checked'))
            if (profile_id){
                formdata.delete('username')
                formdata.delete('password')
                profile_url += profile_id+'/';
                method = 'PATCH';
            }
            else{
                formdata.append('added_by_admin', true)
            }
            $.ajax({
                url:profile_url,
                type:method,
                data:formdata,
                processData: false,
                contentType: false,
                headers:headers,
                success:function (data){
                    console.log("Successfully Update profile ", data)
                    profile_table.ajax.reload();
                    $('.modal-cancel').click();
                },
                error:function (error){
                    console.log("error in UpdateProfile ", error)
                }
            })
    })

    </script>
{% endblock script %}