{% extends 'core/base.html' %}
{% block sub_content %}
    <style>
        .login_signup_bg {
            /* The image used */
            background-image: url("/static/bg/dream_bg_2.jpg");

            /* Full height */
            height: 90vh !important;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.9;
            margin-bottom: 0;
        }
        .login-signup-div .welcome-text{
            display: none;
        }
        .login_signup_bg .welcome-div .lead{
            font-weight: bold!important;
        }
        @media (max-width:700px) {
            .login_signup_bg{
                height: fit-content!important;
                flex-direction: column-reverse!important;
            }
            .login_signup_bg form {
                margin-bottom: 20px;
            }
            .login_signup_bg .welcome-div {
                background-color: #ffffff;
                opacity: 0.6;
            }

            .login_signup_bg .welcome-div .welcome-text{
                display: none;
            }
            .login-signup-div .welcome-text{
                display: block;
            }

        }
        {#<a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>#}
    </style>
    <div class="flex-row w-100 login_signup_bg">
        <div class="text-lg-start container py-5 text-black welcome-div">
            <div class="container">
                <h2 class="fw-bold mb-3 welcome-text">Welcome to DreamView</h2>
                <h5 class=""><strong class="fs-3">DreamView</strong> is a platform to boost your knowledge to get clear your dream job interview.</h5>
                <div class="mx-auto">
                    <ul class="lead" style="list-style: devanagari; font-weight:400; opacity: 1; box-sizing: border-box;">
                        <li> Simple and smart interface </li>
                        <li> Get variety of questions with ease of use </li>
                        <li> Advance features like rank, upvote, down vote and raise reports</li>
                        <li> Suitable for all levels of developers   </li>
                        <li> Weekly daily ranking system to motivate you to do more </li>
                        <li> Many More things are coming soon</li>
                    </ul>
                </div>
            </div>

            <div class="text-center mt-2 fw-bold border-top border-dark border-opacity-25 pt-2" style="margin-right: 15%!important;">
                <h5 class="lead fw-bold"> Connect with Me  </h5>
                <div class="btn-group btn-group-lg" role="group" aria-label="Small button group">
                    <button type="button" class="btn btn-outline-dark">
                        <i class="bi bi-github"></i>
                    </button>
                    <button type="button" class="btn btn-outline-dark">
                        <i class="bi bi-person"></i>
                    </button>
                    <button type="button" class="btn btn-outline-dark">
                        <i class="bi bi-linkedin"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="pt-5 w-100 login-signup-div">
            <h2 class="fw-bold mb-3 pb-2 text-center welcome-text">Welcome to DreamView</h2>
            <form class="p-3 pb-4  border rounded-3 w-75 bg-light mx-auto" enctype="multipart/form-data">
                <h3 class="py-2" id="login_signup_form_header"> Login</h3>
                {% csrf_token %}
                <div class="form-floating mb-2">
                    <input type="text" class="form-control h-25" id="username" name="username"
                           placeholder="Enter Unique User Name" required>
                    <label for="username">User Name</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="email" class="form-control h-25" id="email"
                           placeholder="Enter Email" required>
                    <label for="email">Email Address</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="password" name="password" class="form-control h-25" id="password"
                           placeholder="Password" required>
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="password" name="new_password" class="form-control h-25" id="new_password"
                           placeholder="Repeat Same Password">
                    <label for="new_password">Repeat Same Password</label>
                </div>
                <button class="w-100 btn btn-sm btn-primary mt-1 h-25" type="button" id="login_signup_btn">Login</button>
                <hr class="">
{#                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small><br>#}
                <small style="cursor: pointer;"><a id="form_help" class="text-muted fw-bold small" data-form-name="signup" onclick="toggleLoginSignup($(this))">Already have an account ?</a></small>
            </form>
        </div>
    </div>
{% endblock sub_content %}

{% block script %}
<script>
$("#login_signup_btn").click(function (e) {
    e.preventDefault()
    let form_name = $('#form_help').prop('data-form-name');
    let username = $('#username').val();
    let password = $('#password').val();
    let new_password = $('#new_password').val();
    let email = $('#email').val();
    if (!password || password !== new_password && form_name === 'signup' ){
        toastr.error('Password must matched', 'Error', {timeOut: 5000, closeButton: true})
        return false;
    }
    loginSignupAjaxCall(form_name, username, password, email);
})


</script>
{% endblock script %}
